.table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
    font-family: monospace;
  }
  
  .table {
    border-collapse: collapse;
    width: 1200px;
  }
  
  th, td {
    padding: 15px;
  }

  .page { 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
  }

  
  .prop:nth-child(odd){
    background-color: #f2f2f2;
  }