

.md-shadow {
    box-shadow: 
      0 4px 5px 0 rgba(0,0,0,.14), 
      0 2px 10px 0 rgba(0,0,0,.12), 
      0 6px 4px -1px rgba(0,0,0,.2);
}

.terminal {
  width:auto;
  max-width:96vw;
  margin-left:2vw;
  margin-right:2vw;
  text-align:left;
  border-radius:5px;
  margin-bottom:10px
}

@media (max-width:830px){
  .terminal {
    margin-right:auto;
    margin-left:auto
  }
}


.terminal__head{overflow:hidden;background-color:#d5d5d5;padding:8px 15px;border-top-left-radius:5px;border-top-right-radius:5px;}
.terminal__dot{
  float:left;width:12px;height:12px;border-radius:50%;
  margin-right:7px;
  box-shadow:0 1px 1px 0 rgba(0,0,0,.2)
}

.red{background-color:#ff6057}
.yellow{background-color:#ffc22e}
.green{background-color:#28ca40}

.terminal__body{
  height: 300px;
  scrollbar-width: thin;
  overflow-y: scroll;
  background-color:#1e1e1e;padding:30px 17px 20px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}

.prompt {
  display:block;
  margin-bottom:15px;
  font-family:"Source Code Pro",monospace;
  font-size:15px;
  color: white;
}
.prompt::before {
  content:"$";
  padding-right:15px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

/*.md-base{height:100vh}*/

